<ng-template [ngIf]="blueClass">
  <p>Button is Blue</p>
</ng-template>
<!-- short hand way to write structural directives -->
<p *ngIf="blueClass">Button is Blue</p>

<button (click)="blueClass = !blueClass" [ngClass]="{ blue: blueClass  }" [ngStyle]="{'font-size.px': fontSize}">Change</button>
<hr>

<input (keyup)="changeImage($event)" [value]="imgURL">

<p>Hello {{ name | titlecase }}</p>
<p>Hello {{ getName() }}</p>
<p>{{15 + 1}}</p>

<app-post *ngFor="let image of images let i = index" [img]="imgURL" (imgSelected)="logImg($event)">
  <p>{{i}}Some content</p>
</app-post>

<p>{{ currentDate | date: 'd MMMM YYYY' }}</p>
<p>{{ cost | currency: 'JPY '}}</p>
<p>{{ temperature | number: '1.2-5' }}</p>
<p>{{ pizza | json }}</p>


